{% extends "base/base.html" %}
{% block content %}
<div class="container">	
	<div class="row">
		<div class="col-md-9">
			<legend><h1>Paquetes disponibles</h1></legend>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Paquete</th>
						<th>Tokens</th>
						<th>Precio</th>
					</tr>
				</thead>
				<tbody>
					{% for paquete in paquete_lista %}
					<form action="/compra/" method="POST" data-tokens="{{paquete.paquete.tokens}}" data-precio="{{paquete.paquete.precio}}" class="form-compra">
						{% csrf_token %}
						<tr>
							<td>{{ paquete.paquete.nombre }}</td>
							<td>{{ paquete.paquete.tokens }}</td>
							<td>$ {{ paquete.paquete.precio }}</td>
							<td>{{ paquete.form.paquete }}<button type="submit" value="Comprar" class="btn btn-primary" data-toggle="confirmation">Donar</button>{{ paquete.form.tokens }}</td>
						</tr>
					</form>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			Actualmente tienes:
			<br>
			<div class="tokens-activos lead">{{ profile.tokens_activos }} tokens válidos</div>
		</div>
	</div>
</div>
{% endblock content %}