{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EscuelAPP</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/youplay-shooter.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css'%}">
	
</head>
<body>
	{% include "base/nav_bar.html" %}

	{% block base_navbar %}
	{% endblock base_navbar %}

	{% block content %}
	{% endblock content %}

	<footer class="youplay-footer-parallax">
		<div class="wrapper">
			<div class="copyright">
				<div class="container">
					<strong>Funsepa</strong> © 2016.
				</div>
			</div>
		</div>
	</footer>

</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bs-dialog.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/jarallax.min.js' %}"></script>
<script src="{% static 'js/youplay.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
	youplay.init();
</script>
{% block javascript %}
{% endblock javascript %}
</html>