{% extends "base/base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3 well">
			<legend>Puntuaciones</legend>
			<table class="table">
				<tr>
					<td>Primer lugar</td>
					<td>{{ reto.pt_1 }}</td>
				</tr>
				<tr>
					<td>Segundo lugar</td>
					<td>{{ reto.pt_2 }}</td>
				</tr>
				<tr>
					<td>Tercer lugar</td>
					<td>{{ reto.pt_3 }}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6 well">
			<legend>{{ reto.materia }}</legend>
			Este reto termina el {{ reto.fecha }}
			<h4>Notas de este reto</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Lugar</th>
						<th>Alumno</th>
						<th>Equipo</th>
						<th>Nota</th>
					</tr>
				</thead>
				<tbody>
					{% for nota in nota_list|dictsortreversed:"get_nota" %}
						<tr>
							<td>{{ nota.get_lugar }}</td>
							<td>{{ nota.alumno.nombre }} {{ nota.alumno.apellido }}</td>
							<td>{{ nota.alumno.equipo }}</td>
							<td>{{ nota.get_nota }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if user.is_authenticated %}
				<div class="row">
					<div class="col-md-12">
						<form action="{{ action }}" method="post">
							<table class="table table-striped">
								{% csrf_token %}
								{{ form_apuesta.as_table }}
							</table>
							<input type="submit" class="btn btn-info" value="Guardar">
						</form>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col-md-3 well">
			<legend>Apoyos de este reto</legend>
			<ul>
				{% for apuesta in apuesta_list|dictsortreversed:"punteo" %}
					<li>
						{{ apuesta.user }} por equipo <b>{{ apuesta.nota.alumno.equipo }}</b><br>
						{{ apuesta.tokens }} tokens - ({{ apuesta.get_punteo }} puntos)
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock content %}
{% block javascript %}
{% if notificacion %}
    <script>
    	alert("Apuesta realizada")
    </script>

{% endif %}

{% endblock javascript %}