{% extends "base/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
<!-- Page Content -->
<div class="container">


	<div class="row">
		<div class="col-sm-3">

			<img class="img-circle img-responsive img-center" src="{% static "img/calendar.jpg" %}" width="50" height="50" alt="">
			<h4 align="center" >{{ reto.fecha }}</h4>

		</div>
		<div class="col-sm-3">

			<img class="img-circle img-responsive img-center" src="{% static "img/1.jpg" %}" width="50" height="50" alt="">
			<h4 align="center" >{{ reto.pt_1 }} puntos</h4>

		</div>
		<div class="col-sm-3">

			<img class="img-circle img-responsive img-center" src="{% static "img/2.jpg" %}" width="50" height="50" alt="">
			<h4 align="center" >{{ reto.pt_2 }} puntos</h4>

		</div>
		<div class="col-sm-3">

			<img class="img-circle img-responsive img-center" src="{% static "img/3.jpg" %}" width="50" height="50" alt="">
			<h4 align="center" >{{ reto.pt_3 }} puntos</h4>

		</div>
	</div>
	<!-- /.row -->

	<div class="dividir">

	</div>


	<div class="row">
		<div class="col-sm-8">
			<h1  align="center">Notas de este Reto</h1>
			<div>
				{% if reto.jugado %}
				<table class="table table-striped" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Lugar</th>
							<th>Foto</th>
							<th>Alumno</th>
							<th>Equipo</th>
							<th>Nota</th>
						</tr>
					</thead>
					<tbody>
						{% for nota in reto.notas.all|dictsortreversed:"nota" %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>
								<img class="img-circle img-responsive" src="{{ nota.alumno.foto|thumbnail_url:"avatar-sm" }}" width="50" height="50" alt="">
							</td>
							<td>{{ nota.alumno }}</td>
							<td>
								<img class="img-circle img-responsive" src="{{ nota.alumno.equipo.logo|thumbnail_url:"avatar-sm" }}" width="50" height="50" alt="">
							</td>
							<td>
								{{ nota.nota }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<table class="table table-striped" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Equipo</th>
							<th>Foto</th>
							<th>Alumno</th>
							<th>Tokens</th>
							<th>Apoyar</th>
						</tr>
					</thead>
					<tbody>
						{% for nota in reto.notas.all %}
						<tr>
							<form method="post" action="{% url 'apuesta_create' nota_id=nota.id %}">
								<td>
									<img class="img-circle img-responsive" src="{{ nota.alumno.equipo.logo|thumbnail_url:"avatar-sm" }}" width="50" height="50" alt="">
								</td>
								<td>
									<img class="img-circle img-responsive" src="{{ nota.alumno.foto|thumbnail_url:"avatar-sm" }}" width="50" height="50" alt="">
								</td>
								<td>{{ nota.alumno }}</td>
								<td>
									{% csrf_token %}
									{{ apuesta_form.tokens }}
								</td>
								<td>
									<input type="submit" value="Apoyar" class="btn btn-primary">
								</td>
							</form>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>
		</div>

		<div class="col-sm-4">
			{% if reto.jugado %}
				<h1  class="colorV" align="center">Apoyos</h1>
				<table class="table">
					<thead>
						<tr>
							<th>Equipo</th>
							<th>Tokens</th>
							<th>Puntos</th>
						</tr>
					</thead>
					<tbody>
						{% for apuesta in apuesta_list %}
							<tr>
								<td>
									<img class="img-circle img-responsive" src="{{ apuesta.nota.alumno.equipo.logo|thumbnail_url:"avatar-sm" }}" width="50" height="50" alt="">
								</td>
								<td>{{ apuesta.tokens }}</td>
								<td>{{ apuesta.get_punteo }}</td>
							</tr>
						{% endfor %}
						<tr>
							<td><b>Total</b></td>
							<td>{{ reto.tokens_apostados }}</td>
							<td>{{ reto.get_punteo }}</td>
						</tr>
					</tbody>
				</table>
			{% else %}
				<h1  class="colorV" align="center">Tokens Disponibles: {{ user.perfil.tokens_activos }}<br>Apoyos</h1>
				<h1  class="colorV" align="center">Apoyos</h1>
				<table class="table">
					<thead>
						<tr>
							<th>Equipo</th>
							<th>Tokens</th>
							<th>Puntos</th>
						</tr>
					</thead>
					<tbody>
						{% for apuesta in apuesta_list %}
							<tr>
								<td>
									<img class="img-circle img-responsive" src="{{ apuesta.nota.alumno.equipo.logo|thumbnail_url:"avatar-sm" }}" width="50" height="50" alt="">
								</td>
								<td>{{ apuesta.tokens }}</td>
								<td>{{ apuesta.get_punteo }}</td>
							</tr>
						{% endfor %}
						<tr>
							<td><b>Total</b></td>
							<td>{{ reto.tokens_apostados }}</td>
							<td>{{ reto.get_punteo }}</td>
						</tr>
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
</div>



{% endblock content %}


{% block javascript %}
{% if notificacion %}
<script>
	BootstrapDialog.alert('¡Apoyaste con éxito!');
</script>
{% endif %}
<script>
	$(document).ready(function () {
		var total_tokens = 0, total_puntos = 0;
		$.each($('.td-tokens'), function (index, td) {
			total_tokens += isNaN(parseInt($(td).html())) ? 0 : parseInt($(td).html());
		});
		$.each($('.td-puntos'), function (index, td) {
			total_puntos += isNaN(parseInt($(td).html())) ? 0 : parseInt($(td).html());
		});
		$('#total-tokens').html(total_tokens);
		$('#total-puntos').html(total_puntos);
	})
</script>
{% endblock javascript %}