{% extends "base/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block navbar_extra %}
<ul class="nav navbar-nav">
	{% if user.is_authenticated %}
	<li class="dropdown dropdown-hover ">
		<a href="#!" class="dropdown-toggle" role="button" aria-expanded="false">
			Retos anteriores <span class="caret"></span>
		</a>
		<div class="dropdown-menu">
			<ul role="menu">
				{% for reto_v in retos_anteriores|dictsortreversed:"fecha" %}
				<li><a href="{% url "reto_detail" id_reto=reto_v.id %}">{{ reto_v }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</li>
	{% else %}
	<li><a href="{% url "login" %}">Iniciar sesión</a></li>
	{% endif %}
</ul>
{% endblock navbar_extra %}
{% block content %}
<section class="content-wrap container">
	<!-- Banner -->
	<div class="youplay-banner banner-top youplay-banner-parallax small">
		<div class="image">
			<img src="{{ reto.materia.bg|thumbnail_url:'background' }}" alt="">
		</div>
		<div class="info">
			<div>
				<div class="container youplay-user">
					<a href="#" class="angled-img image-popup">
						<div class="img">
							<img src="{{ reto.materia.icon|thumbnail_url:'avatar' }}" alt="">
						</div>
						<i class="fa fa-search-plus icon"></i>
					</a>

					<div class="user-data">
						<h2>{{ reto.materia }}</h2>
						<div class="date"><i class="fa fa-calendar"></i>{{ reto.fecha }}</div>
						<div class="activity">
							<div>
								<div class="num">{{ reto.pt_1 }}p</div>
								<div class="title">1er lugar</div>
							</div>
							<div>
								<div class="num">{{ reto.pt_2 }}p</div>
								<div class="title">2do lugar</div>
							</div>
							<div>
								<div class="num">{{ reto.pt_3 }}p</div>
								<div class="title">3er lugar</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Banner -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 side-block">
				<h3 class="block-title">Notas de este reto</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Lugar</th>
							<th>Alumno</th>
							<th>Equipo</th>
							<th>Nota</th>
						</tr>
					</thead>
					<tbody>
						{% for nota in nota_list|dictsortreversed:"get_nota" %}
						<tr>
							<td>{{ nota.get_lugar }}</td>
							<td>
								<a href="{% url "alumno_detail" id_alumno=nota.alumno.id%}"><img src="{{ nota.alumno.foto|thumbnail_url:'icon' }}"> {{ nota.alumno.nombre }} {{ nota.alumno.apellido }}</a>
							</td>
							<td>
								<a href="{% url "equipo_detail" id_equipo=nota.alumno.equipo.id %}">{{ nota.alumno.equipo }}</a>
							</td>
							<td>{{ nota.get_nota }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if user.is_authenticated %}
				<div class="row">
					<div class="col-md-12">

					</div>
				</div>
				{% endif %}
			</div>
			{% if form_apuesta %}
			<div class="col-md-3 side-block">
				<h3 class="block-title">Elige a quién apoyar</h3>
				<form action="{{ action }}" method="post" class="form-apuesta">
					<span class="label">Tienes <span class="tokens-activos lead">{{ user.profile.tokens_activos }}</span> tokens disponibles</span>
					<table class="table table-striped align-center">
						{% csrf_token %}
						<tr>
							<td>
								<div class="btn-group-vertical" data-toggle="buttons">
									<label class="btn hide"></label>
									{% for opcion in form_apuesta.nota %}
									<label class="btn btn-xs">
										{{ opcion }}
									</label>
									{% endfor %}
								</div>
							</td>
							<td class="">
								<label for="{{ form_apuesta.tokens.id_for_label }}">{{ form_apuesta.tokens.label }}</label><br>
								{{ form_apuesta.tokens }}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<button type="submit" class="btn btn-info" value="Guardar">¡Apoyar!</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
			{% endif %}
			<div class="col-md-3 side-block">
				<h3 class="block-title">Apoyos anteriores</h3>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Equipo</th>
							<th>Tokens</th>
							<th>Puntos</th>
						</tr>
					</thead>
					{% for apuesta in apuesta_list|dictsort:"fecha" %}
					<tr>
						<td>{{ apuesta.fecha|date:"d/m/y" }}</td>
						<td>{{ apuesta.nota.alumno.equipo }}</td>
						<td class="td-tokens">{{ apuesta.tokens }}</td>
						<td class="td-puntos">{{ apuesta.get_punteo }}</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="2"><b>Total</b></td>
						<td id="total-tokens"></td>
						<td id="total-puntos"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block javascript %}
{% if notificacion %}
<script>
	BootstrapDialog.alert('¡Apoyaste con éxito!');
</script>
{% endif %}
<script>
	$(document).ready(function () {
		var total_tokens = 0, total_puntos = 0;
		$.each($('.td-tokens'), function (index, td) {
			total_tokens += isNaN(parseInt($(td).html())) ? 0 : parseInt($(td).html());
		});
		$.each($('.td-puntos'), function (index, td) {
			total_puntos += isNaN(parseInt($(td).html())) ? 0 : parseInt($(td).html());
		});
		$('#total-tokens').html(total_tokens);
		$('#total-puntos').html(total_puntos);
	})
</script>
{% endblock javascript %}