{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}
{% load thumbnail %}
<section class="content-wrap container">
	<div class="container">
		<section class="youplay-banner banner-top youplay-banner-parallax">
			<div class="image" style="background-image: url('{% static 'images/portada.jpg' %}')">
			</div>

			<div class="info">
				<div>
					<div class="container align-center">
						<h1>Bienvenido</h1>
						<em>Gracias por apoyar a las escuelas públicas de Guatemala</em>
						<br><br>
						<a class="btn btn-lg" href="{% url "reto_detail" id_reto=siguiente_reto.id %}">Ir al siguiente reto</a>
						<br>
						<br>
						<em>El siguiente reto es {{ siguiente_reto.materia }} el {{ siguiente_reto.fecha }}</em>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="row">
				<h1>Nuestra meta</h1>
				<p>Necesitamos recaudar ${{ siguiente_meta.cantidad }} antes del {{ siguiente_meta.fecha }}. ¡Apóyanos!</p>
				<div class="progress">
					<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ siguiente_meta.progreso.porcentaje|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ siguiente_meta.progreso.porcentaje|floatformat:0 }}%">
						<div style="color: black; line-height: 1.0;" class="lead">${{ siguiente_meta.progreso.total }} recaudado</div>
					</div>
				</div>
			</div>
		</section>
		<div class="pt-40 pb-40">
			<div class="row">
				<div class="col-md-9">
					<h3 class="block-title">Equipos</h3>
					<div class="row-fluid">
						{% for equipo in equipo_list|dictsortreversed:"promedio" %}
						<a class="angled-img col-xs-4 col-sm-4" href="{% url "equipo_detail" id_equipo=equipo.id %}">
							<div class="img">
								<img src="{{ equipo.logo|thumbnail_url:'avatar-lg' }}" alt="{{equipo}}">
							</div>
							<div class="bottom-info">
								<h4>{{ equipo }}</h4>
								<div>{{ equipo.promedio|floatformat:2 }} promedio</div>
							</div>
						</a>
						{% if forloop.counter|divisibleby:3 %}
					</div>
					<div class="clearfix"></div>
					<div class="row-fluid">
						{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3 side-block">
					<h4 class="block-title">Tabla de posiciones</h4>
					<div class="block-content p-0">
						{% for profile in profile_list|dictsortreversed:"puntos"|slice:"7" %}
						<div class="row youplay-side-news">
							<div class="col-xs-3 col-md-4">
								<a href="{% url 'profile_detail' id_profile=profile.id%}" class="angled-img">
									<div class="img">
										{% if profile.foto %}
										<img src="{{ profile.foto|thumbnail_url:'icon' }}" alt="{{ profile }}">
										{% else %}
										<img src="default.jpg" alt="{{ profile }}">
										{% endif %}
									</div>
								</a>
							</div>
							<div class="col-xs-9 col-md-8">
								<h4 class="ellipsis"><a href="{% url 'profile_detail' id_profile=profile.id%}" title="{{ profile }}">{{ profile }}</a></h4>
								<span class="price">{{ profile.puntos }} pts.</span>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}