{% extends "base/base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2 well"></div>
		<div class="col-md-7 well">
			{% if equipo.logo %}
				<img src="{{ equipo.logo.url }}">
			{% endif %}
			<legend>{{ equipo.nombre }}</legend>
			{% for post in post_lista %}
			<div class="panel panel-primary">
				<div class="panel-heading">{{ post.titulo }}</div>
				<div class="panel-body">
					{{ post.cuerpo }}
				</div>
				<div class="panel-footer">
					<blockquote>
						<footer>Publicado el {{ post.fecha }} por <strong>{{ post.alumno.nombre }} {{ post.alumno.apellido }}</strong></footer>
					</blockquote>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-3 well">
		</div>
	</div>
</div>
{% endblock content %}