{% extends "base/base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2 well"></div>
		<div class="col-md-7 well">
			{% if equipo.logo %}
				<img src="{{ equipo.logo.url }}">
			{% endif %}
			<legend>{{ equipo.nombre }}</legend>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Alumno</th>
						<th>Promedio</th>
					</tr>
				</thead>
				<tbody>
					{% for alumno in alumno_list|dictsortreversed:"promedio" %}
						<tr>
							<td><a href="{% url "alumno_detail" id_alumno=alumno.id%}">{{ alumno.nombre }} {{ alumno.apellido }}</a></td>
							<td>{{ alumno.promedio }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-3 well">
			<a class="btn btn-primary" href="{% url "equipo_blog" id_equipo=equipo.id%}">Blog</a>
		</div>
	</div>
</div>
{% endblock content %}