{% extends "base/base.html" %}
{% load thumbnail %}

{% block content %}
<div>
	<header class="cover1-header">
		<img src="{{ equipo.logo|thumbnail_url:'avatar' }}" class="img-responsive img-center" width="250" height="250" align="center" >
	</header>
</div>

<!-- Page Content -->
<div class="container">

	<div class="row">
		{% for alumno in equipo.alumnos.all %}
			<div class="col-sm-4" align="center">
				<a href="{{ alumno.get_absolute_url }}">
					<img class="img-circle img-responsive img-center" src="{{ alumno.foto|thumbnail_url:'avatar-circle' }}" width="200" height="200" alt="">
					<h2 align="center">{{ alumno.nombre }} {{ alumno.apellido }}</h2>
					<p>Promedio: {{ alumno.promedio }}</p>
					<p>Ver Perfil</p>

				</a>
			</div>
			{% if forloop.counter|divisibleby:3 %}
			</div>
			<div class="dividir-medio"></div>
			<div class="row">
			{% endif %}
		{% endfor %}
	</div>
{% endblock content %}