{% extends "base/base.html" %}

{% load thumbnail %}

{% block content %}
	<div class="row">
	{% for equipo in equipo_list %}
		<div class="col-sm-4">
			<a href="{{ equipo.get_absolute_url }}">
				<img class="img-circle img-responsive img-center" src="{{ equipo.logo|thumbnail_url:'avatar' }}" width="200" height="200" alt="">
				<h2 align="center">{{ equipo.nombre }}</h2>
			</a>
		</div>
		{% if forloop.counter|divisibleby:3 %}
		</div>
		<div class="row">
		{% endif %}
	{% endfor %}
	</div>
{% endblock content %}